body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("img/dark-honeycomb.png");
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    width: 1000px;
    background-color: red;
    text-align: center;
}

.icon-container {
    height: 100%;
    width: 200px;
    background-color: #bc05ff;
    float: left;
}

.icon-container2 {
    height: 100%;
    width: 200px;
    background-color: #bc05ff;
    float: right;
}

.icon-box {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 80px;
}

.new-game {
    width: 150px;
    height: 50px;
    margin-top: 400px;
}

.player-score {
    font-size: 25px;
    position: absolute;
    top: 230px;
    left: 380px;
}

.pc-score {
    font-size: 25px;
    position: absolute;
    top: 230px;
    right: 380px;
}